<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/detail.css" />
    <script
      src="https://kit.fontawesome.com/6dca3e9c71.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
      defer
    ></script>
    <title>운동 상세 정보</title>
  </head>
  <body>
    <div class="navi_wrapper">
      <div class="logo fk">
        <a href="/">TogetherSports</a>
      </div>
      <div class="navi_wrap">
        <div class="navi"><a href="/about">소개</a></div>
        <div class="navi"><a href="/health?id=1">운동</a></div>
        <div class="loginId">
          <% if(nickname){%>
          <div class="id">
            <span style="font-weight: bold" id="name1"><%=nickname%></span>
            님 환영합니다
            <span
              ><a href="/logout"
                ><i
                  class="fa-solid fa-right-from-bracket"
                  style="padding-left: 10px"
                ></i></a
            ></span>
          </div>
          <% } else {%>
          <div class="navi"><a href="/login">로그인</a></div>
          <%}%>
        </div>
      </div>
      <!--  navi_wrap  -->
    </div>
    <!--  navi_wrapper  -->

    <div class="line_wrap">운동 상세 정보</div>

    <section class="section">
      <div class="title">
        <h2 id="title"><%=data.title %></h2>
      </div>
      <div class="type">
        <input
          type="text"
          value="<%=data.id%>"
          id="idid"
          style="display: none"
        />
        <table class="table">
          <tbody>
            <tr>
              <td>분류</td>
              <td id="sports"><%=data.sport %></td>
              <td>팀명</td>
              <td id="name"><%=data.name %></td>
              <td>글쓴이</td>
              <td id="name2"><%=data.nickname %></td>
            </tr>
            <tr>
              <td>포지션</td>
              <td id="position"><%=data.position %></td>
              <td>이메일</td>
              <td id="email"><%=data.email %></td>
              <td>연락처</td>
              <td id="phone"><%=data.phone %></td>
            </tr>
            <td>시간</td>
            <td id="time"><%=data.time %></td>
            <td>주소</td>
            <td colspan="3" id="address"><%=data.address %></td>
          </tbody>
        </table>
      </div>
      <div class="content">
        <textarea name="" id="content" style="height: 622px" readonly>
<%=data.content %></textarea
        >
      </div>
      <div class="listBtn">
        <button type="button" id="getList">목록</button>
        <!-- <button type="button" id="aaa">수정하기</button> -->
        <button onclick="checkUser()"">수정하기</button>
        <button type="button" id="getDelete">삭제하기</button>
      </div>
    </section>
    <!--  section  -->

    <footer>
      <div class="footer_wrapper">
        <div class="footer_wrap">
          <div class="email">문의 : whdudfo0124@gmail.com</div>
        </div>
      </div>
    </footer>
  </body>
</html>

<script src="/js/detail.js"></script>
<script src="/js/delete.js"></script>
