<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
      defer
    ></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script
      src="https://kit.fontawesome.com/6dca3e9c71.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/health.css" />
    <title>운동 홍보</title>
  </head>
  <body>
    <div class="navi_wrapper">
      <div class="logo fk">
        <a href="http://localhost:3000">TogetherSports</a>
      </div>
      <div class="navi_wrap">
        <div class="navi"><a href="/about">소개</a></div>
        <div class="navi"><a href="/health">운동</a></div>
        <div class="navi">홍보</div>
        <div class="navi"><a href="/login">로그인</a></div>
      </div>
      <!--  navi_wrap  -->
    </div>
    <!--  navi_wrapper  -->

    <div class="choice_wrap">
      <div class="choice">
        <a href="/health" class="active">축구</a>
        <a href="/baseketball">농구</a>
        <a href="/tennis">테니스</a>
        <a href="/baseball">야구</a>
      </div>
    </div>
    <!--  choice_wrap  -->

    <div class="write_wrap">
      <a href="/write">글쓰기</a>
    </div>
    <!--  write_wrap  -->

    <div class="health_wrapper">
      <div class="health_wrap">
        <table class="table">
          <thead>
            <tr>
              <th width="5%">번호</th>
              <th width="10%">운동</th>
              <th width="10%">포지션</th>
              <th width="10%">팀명</th>
              <th width="35%">제목</th>
              <th width="10%">글쓴이</th>
              <th width="10%">날짜</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach(el => { %>
            <tr>
              <td><%=el.id%></td>
              <td><%=el.sport%></td>
              <td><%=el.position%></td>
              <td><%=el.name%></td>
              <td><a href="/detail/<%=el.id%>"><%=el.title%></a></td>
              <td><%=el.name%></td>
              <td><%=el.createdAt%></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- health_wrapper -->

    <div class="page_wrap">
      <div class="paging">
        <div class="ctrlBack">
          <a href="/recruit_art/all" id="leftStart" class="leftStart">
            <i class="arrow fa-solid fa-angles-left"></i>
          </a>

          <a href="" id="left" class="right">
            <i class="arrow fa-solid fa-angle-left"></i>
          </a>

          <div class="pageNum" id="pageNum">
            <form action="" id="7">
              <input type="hidden" name="id" value="1" />
              <button id="pageButton1" class="pageButton">1</button>
            </form>

            <form action="" id="7">
              <input type="hidden" name="id" value="2" />
              <button id="pageButton2" class="pageButton">2</button>
            </form>

            <form action="" id="7">
              <input type="hidden" name="id" value="3" />
              <button id="pageButton3" class="pageButton">3</button>
            </form>

            <form action="" id="7">
              <input type="hidden" name="id" value="4" />
              <button id="pageButton4" class="pageButton">4</button>
            </form>

            <form action="" id="7">
              <input type="hidden" name="id" value="5" />
              <button id="pageButton5" class="pageButton">5</button>
            </form>
          </div>

          <a href="" id="right" class="right">
            <i class="arrow fa-solid fa-angle-right"></i>
          </a>

          <a href="/recruit_art/all?id=7" id="rightEnd" class="rightEnd">
            <i class="arrow fa-solid fa-angles-right"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- page_wrap -->

    <footer class="footer">
      <div class="footer_title">문의: whdudfo0124@google.com</div>
    </footer>
  </body>
</html>

<script src="/js/health.js"></script>
<script src="/js/date.js"></script>
<script src="/js/page.js"></script>
