<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
      defer
    ></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script
      src="https://kit.fontawesome.com/6dca3e9c71.js"
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/health.css" />

    <title>운동 홍보</title>
  </head>
  <body>
    <div class="navi_wrapper">
      <div class="logo fk">
        <a href="/">TogetherSports</a>
      </div>
      <div class="navi_wrap">
        <div class="navi"><a href="/about">소개</a></div>
        <div class="navi"><a href="/health?id=1">운동</a></div>
        <div class="loginId">
          <% if(nickname){%>
          <div class="id">
            <span><%=nickname%></span>
            님 환영합니다
            <span
              ><a href="/logout"
                ><i class="fa-solid fa-right-from-bracket"></i></a
            ></span>
          </div>
          <% } else {%>
          <div class="navi"><a href="/login">로그인</a></div>
          <%}%>
        </div>
      </div>
      <!--  navi_wrap  -->
    </div>
    <!--  navi_wrapper  -->

    <div class="line_wrap">운동정보</div>

    <div class="write_wrap">
      <div class="write" id="getWrite">글쓰기</div>
    </div>
    <!--  write_wrap  -->

    <div class="health_wrapper">
      <div class="health_wrap">
        <table class="table">
          <thead>
            <tr>
              <th width="5%">번호</th>
              <th width="10%">운동</th>
              <th width="10%">포지션</th>
              <th width="10%">팀명</th>
              <th width="35%">제목</th>
              <th width="10%">글쓴이</th>
              <th width="10%">날짜</th>
            </tr>
          </thead>
          <tbody>
            <% page.forEach(el => { %>
            <tr>
              <td><%=el.id%></td>
              <td><%=el.sport%></td>
              <td><%=el.position%></td>
              <td><%=el.name%></td>
              <td><a href="/detail/<%=el.id%>"><%=el.title%></a></td>
              <td><%=el.nickname%></td>
              <td><%=el.createdAt%></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- health_wrapper -->

    <div class="page_wrap">
      <div class="paging">
        <div class="ctrlBack">
          <a href="/health?id=1" id="leftStart" class="leftStart">
            <i class="arrow fa-solid fa-angles-left"></i>
          </a>
          <% if( Number(currentPage) <= 1) { %>
          <a href="/health?id=<%= 1 %>" id="left" class="right">
            <i class="arrow fa-solid fa-angle-left"></i>
          </a>
          <% } else { %>
          <a
            href="/health?id=<%=  Number(currentPage) - 1 %>"
            id="left"
            class="right"
          >
            <i class="arrow fa-solid fa-angle-left"></i>
          </a>
          <% } %>

          <div class="pageNum" id="pageNum">
            <% if(pageCount >= 5 ) { %> <% for ( let i = 0 ; i < 5 ; i++) { %>
            <a
              class="pageBtn <%= Number(currentPage) === i + 1 ? 'active':'' %>"
              href="/health?id=<%= i+1 %>"
              ><%= i + 1 %></a
            >
            <% } %> <% } else { %> <% for ( let i = 0 ; i < pageCount ; i++) {
            %>
            <a
              class="pageBtn <%= Number(currentPage) === i + 1 ? 'active':'' %>"
              href="/health?id=<%= i+1 %>"
              ><%= i + 1 %></a
            >
            <% } %> <% } %>
          </div>
          <% if( Number(currentPage) >= pageCount) { %>
          <a href="/health?id=<%= pageCount %>" id="right" class="right">
            <i class="arrow fa-solid fa-angle-right"></i>
          </a>
          <% } else { %>
          <a
            href="/health?id=<%= Number(currentPage) + 1 %>"
            id="right"
            class="right"
          >
            <i class="arrow fa-solid fa-angle-right"></i>
          </a>
          <% } %>

          <a href="/health?id=<%= pageCount %>" id="rightEnd" class="rightEnd">
            <i class="arrow fa-solid fa-angles-right"></i>
          </a>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="footer_title">문의: whdudfo0124@google.com</div>
    </footer>
  </body>
</html>

<script src="/js/write.js"></script>
