<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/write.css" />

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>정보수정</title>
  </head>
  <body>
    <div class="navi_wrapper">
      <div class="logo fk">
        <a href="/">TogetherSports</a>
      </div>
      <div class="navi_wrap">
        <div class="navi"><a href="/about">소개</a></div>
        <div class="navi"><a href="/health">운동</a></div>
        <div class="navi"><a href="/login">로그인</a></div>
      </div>
      <!--  navi_wrap  -->
    </div>
    <!--  navi_wrapper  -->

    <div class="line_wrap">수정하기</div>

    <div class="write_wrap">
      <form action="" method="post">
        <div class="write">
          <label for="title">제목</label>
          <input
            id="title"
            class="title"
            readonly
            value="<%=data.title %>"
            type="text"
          />
        </div>
        <div class="write">
          <label for="name">팀명</label>
          <input id="name" value="<%=data.name %>" type="text" />
        </div>
        <div class="write">
          <label for="sports">운동</label>
          <select name="sports" id="sports">
            <option value="축구">축구</option>
            <option value="농구">농구</option>
            <option value="테니스">테니스</option>
            <option value="야구">야구</option>
          </select>
        </div>
        <div class="write">
          <label for="position">포지션</label>
          <input id="position" value="<%=data.position %>" type="text" />
        </div>
        <div class="write">
          <label for="time">시간</label>
          <input id="time" value="<%=data.time %>" type="text" />
        </div>
        <div class="write">
          <label for="address">주소</label>
          <input id="address" value="<%=data.address %>" type="text" />
        </div>
        <div class="write">
          <label for="email">이메일</label>
          <input id="email" value="<%=data.email %>" type="text" />
        </div>
        <div class="write">
          <label for="phone">연락처</label>
          <input
            id="phone"
            value="<%=data.phone %>"
            type="number"
            placeholder="숫자만 입력해주세요"
          />
        </div>
        <div class="write">
          <label for="content">내용</label>
          <textarea name="" id="content" cols="30" rows="10">
<%=data.content %></textarea
          >
        </div>
        <div class="button_wrap">
          <button id="aaa" type="button" onclick="modify()">수정하기</button>
          <button id="cancel" type="button" onclick="">취소하기</button>
        </div>
      </form>
    </div>
    <!-- write_wrap -->

    <footer class="footer">
      <div class="footer_title">문의: whdudfo0124@google.com</div>
    </footer>

    <!-- 자바 스크립트 연결 -->
    <!-- <script type="text/javascript" src="/js/detail.js"></script> -->
    <script type="text/javascript" src="/js/update.js"></script>
  </body>
</html>
